/* font-family: 'Dancing Script', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Montserrat', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
     --text-color: #34355B;
     --button-bg: #FF9500;
     --fortune-bg: #E4EDF1;
     font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background-size: cover;
    background-size: 100%;
    background: no-repeat linear-gradient(45deg, #190361 0%, #B0F 100%);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    background: #FFF;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
    width: min(42.8rem, 90%);
}

.cookie-closed h1, .cookie-opened h2 {
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    margin-bottom: 1.4rem;
}

.cookie-closed p {
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 2.6rem;
}

.cookie-opened .fortune-text {
     padding: 1rem;
     box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
     background-color: #E4EDF1;
     font-family: 'Dancing Script', cursive;
     font-size: 2.4rem;
     color: #000;
}

.cookie-opened button {
    background-color: var(--button-bg);
    border: none;
    border-radius: .4rem;
    padding: 1.6rem;
    color: #FFF;
    font-family: 'DM Sans', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.hide {
    display: none; 
}